<h1>About Us<h4>
<p class="lead">Odin-flight-booker is a toy application built in Ruby on Rails.</p>

<h2>Setup</h2>
<p>This is a simple toy application simulating the checkout process of booking a flight online.</p>
<p>Primarily, this project is designed to introduce more advanced forms which rely on pupulating and building dropdown menus & nested submissions.</p>

<p>This assignment is part of the full stack web development cirriculum, <%= link_to 'The Odin Project', 'https://www.theodinproject.com/courses/ruby-on-rails/lessons/building-advanced-forms' %> </p>